.vsc-initialized {
  margin: 0;
  padding: 0;
}

#root {
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
}
